body {
  margin: 0px;
  padding: 0px;
  background-image: url("bg3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(194, 191, 191);
  font-size: 19px;
  font-family: "Mina", sans-serif;
}

.left {
  /* border: 2px solid black; */
  position: absolute;
  left: 20px;
  top: 7px;
}

.middle {
  /* border: 2px solid green; */
  margin: 10px auto;
  width: 36%;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 0px 11px;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  text-decoration: underline;
  color: rgb(189, 184, 184);
}

.right {
  /* border: 2px solid red; */
  position: absolute;
  right: 20px;
  top: 10px;
}

.left img {
  margin: auto;
  width: 58px;
  border-radius: 28px;
  display: block;
}

.left div {
  font-size: 14px;
  line-height: 24px;
}

.btn {
  border-radius: 13px;
  background-color: #222424;
}

.cont {
  /* border: 2px solid red; */
  margin: 54px;
  width: 37%;
  padding: 51px;
  font-size: 10px;
}

.cont h2 {
  font-size: 21px;
  text-align: center;
}

.form input {
  padding: 1px 71px;
  margin: 3px;
  text-align: center;
  font-size: 19px;
  border-radius: 11px;
  width: 350px;
  font-size: 17px;
}
#submit {
  font-size: 17px;
  padding: 2px;
  margin-top: 3px;
  width: 357px;
}
